html,
body,
input,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  margin: 0px auto;
  max-width: 560px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.chess-board {
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  flex-wrap: wrap;
}

.board-row {
  width: 100%;
  height: calc(100% / 8);
  display: flex;
}

.square {
  width: calc(100% / 8);
  height: 100%;
  border: 1px solid white;
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: white;
}

/* <div class="square" style="background-color: rgb(36, 36, 36)"></div>
      <div class="square" style="background-color: rgb(255, 255, 255)"></div> */
