html,
body,
input,
button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.button {
  outline: 0px;
  border: none;
  width: 100%;
  height: 30px;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 10px;
  color: #ffffff;
  cursor: pointer;
  background-color: #0e72ed;
}

.button:hover {
  background-color: #0956b5;
}

.button:active {
  background-color: #033a7d;
}

.badge {
  width: auto;
  height: auto;
  padding: 2px;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  max-width: 120px;
}

.badge-success {
  background: lightgreen;
}

.badge-warning {
  background: lightsalmon;
}

.input-container {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  border: 1px solid #c2c2c2;
  height: 30px;
  border-radius: 5px;
  padding-inline-start: 10px;
  box-sizing: border-box;
}

input:focus-visible {
  outline: 2px solid #0e72ed;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.login-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.create-todo-sidebar {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-listing-container {
  width: 70%;
  height: 100%;
  background: #0956b5;
  display: flex;
  flex-direction: column;
  padding: 20px;
  row-gap: 10px;
  overflow: scroll;
}

.login-form-container {
  width: 300px;
}

.card {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .card-left-area {
    > h3 {
      margin-bottom: 10px;
    }
  }

  > .card-right-area {
  }
}
